.sprint-aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  /* Ancho del aside */
  background-color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  /* Sombra a la izquierda */
  z-index: 1000;
  /* Asegura que esté por encima de otros elementos */
  overflow-y: auto;
  /* Agrega desplazamiento vertical si el contenido es largo */
}
/* Ocultar scrollbar para Chrome, Safari y Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* Ocultar scrollbar para IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
