@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
    background-image: url('https://pm1.aminoapps.com/7181/0800153650beffbf8834cc82f45f6b182018d746r1-1920-1080v2_uhq.jpg');
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

